---
title: Aeolus | Command Line Syntax
---
%h1 Command Line Syntax

= render 'gsg_navigation', :selected_page => 'command_syntax.html'

%p
  This page details syntax of the Aeolus command line.

%ul
  %li
    %a(href="#syntax" title="Command Line Syntax")
      Command Line Syntax

  %li
    %a(href="#options" title="Command Line Options")
      Command Line Options

%br

%h1(id="syntax" style="margin-top:0")
.section-grouping
  %h2 1. Command Line Syntax

  %p 
    The following list outlines the action types for Aeolus.
    %ul
      %li
        image - Actions related to image builds, pushes and imports.

  %p 
    The following list outlines the commands for aeolus image.
    %ul
      %li 
        list -  List resources such as images, image targets, cloud resource providers, resource provider accounts 
      %br
      %li
        build - Build an image from a TDL file
      %br
      %li
        push - Push a built image to a cloud provider
      %br
      %li
        import - Import an image from a cloud provider
      %br
      %li
        delete - Delete a built image

%br

%h1(id="options" style="margin-top:0")
.section-grouping
  %h2 2. Command Line Options

  %p 
    The following options can be used in conjunction with the list command. These are all the options that can be used with the list function. 

  %p
    %h3 List Options:
    %ul
      %li
        To retrieve a list of all images: 
      %pre --images, -i.  
      %br
      %li
        This limits the image list to a certain environment: 
      %pre --environment, -E. 
      %br
      %li
        This retrives a list of all builds for an image. This requires the UUID of an image: 
      %pre --builds, -b. 
      %br        
      %li
        This retrieves a list of all target images for a build. Requires the UUID of a build: 
      %pre --targetimages BUILDID, -t. 
      %br
      %li
        This retrieves a list of all provider images for a target image. Requires the UUID of a target image: 
      %pre --providerimages TARGETIMAGE, -P. 
      %br
      %li
        This retrieves a list of all cloud resource provider types: 
      %pre --targets, -g. 
      %br
      %li 
        This retrives a list of cloud resource provider connections: 
      %pre --providers, -p. 
      %br
      %li 
        This retrives a list of all cloud resource provider accounts: 
      %pre --accounts, -a. 
      %br
      %li 
        This retrives a list of all pools: 
      %pre --environments, -c. 

  .note
    %p
      %b    
      %h4 List Examples:
      %li List Images: # aeolus image list --images
      %br
      %li List Builds: # aeolus image list --builds 29f75966-52b7-11e1-8b34-001a4a400e1c


  %p
    %h3 Build Options:
    %ul 
      %li
        Build an image from a TDL file. Requires a local location of a TDL file: 
      %pre -e, --template FILE.
      %br
      %li
        Disable TDL validation of template file: 
      %pre -z, --no-validation
      %br
      %li
        Disable TDL validation of template file: 
      %pre -T, --target TARGET1,TARGET2
      %br
      %li
        Build for specific cloud: 
      %pre -E, --environment ENVIRONMENT  

  .note
    %p
      %b    
      %h4 Build Examples:  
      %li Build image for a deployable: # aeolus image build --target ec2 --template mytemplate.xml --environment default 
      %br
      %li Build image for multiple deployables: # aeolus image build --target ec2,rhevm --template mytemplate.xml --environment default


  %p
    %h3 Push Options:
    %ul
      %li
        Use base image for the push. Requires the UUID of an image: 
      %pre -I, --image IMAGEID
      %br
      %li
        Use build for the push. Requires the UUID of a build: 
      %pre -B, --build BUILDID
      %br
      %li
        Use target image from a build. Requires the UUID of a target image: 
      %pre -t, --targetimages TARGETID
      %br
      %li
        Name of cloud resource provider accounts to use for pushing target images. Ensure a target image exists for each account: 
      %pre -A, --account NAME1,NAME2

  .note
    %p
      %b    
      %h4 Push Examples: 
      %li Push target image to an account: # aeolus image push --account myaccount --targetimage 5c0c27db-161b-4421-8dfb-2f551b74f296
      %br
      %li Push target images from a build to accounts: # aeolus image push --account myaccount --build 5537e55a-8e7b-4030-b4e8-8e062a5c99e8



  %p
    %h3 Import Options:
    %ul
      %li
        The UUID for a given object. Examples include AMI IDs from your EC2 provider or template UUIDs from your Red Hat Enterprise Virtualization environment:
      %pre -d, --id ID
      %br
      %li
        The XML description for an object: 
      %pre -r, --description DESCRIPTION
      %br
      %li
        Names of the cloud resource provider accounts to use for imports:
      %pre -A, --account NAME1,NAME2
      %br
      %li
        Name of the clouds to use for imports:-E, 
      %pre --environment ENVIRONMENT

  .note
    %p
      %b    
      %h4 Import Examples:
      %li Import image from a provider: # aeolus image import --account my-ec2 --environment default --id ami-8d0cdce4 --description '<image><name>myAMI</name></image>'

  %p
    %h3 Delete Options:
    %ul
      %li
        Delete an image and all associated builds:-I, 
      %pre --image IMAGEID
      %br
      %li
        Delete a single build and all associated target images:-B, 
      %pre --build BUILDID
      %br
      %li
        Delete a single target image from a build and all associated cloud resource provider images:-m, 
      %pre --targetimage TARGETID
      %br
      %li
        Delete a single image on a cloud resource provider:-D, 
      %pre --providerimage PROVIDERIMAGEID

  .note
    %p
      %b 
      %h4 Delete Examples:
      %li Delete image: # aeolus image delete --image 29f75966-52b7-11e1-8b34-001a4a400e1c
      %br
      %li Delete build: # aeolus image delete --build 5537e55a-8e7b-4030-b4e8-8e062a5c99e8
        

%br

%a.button{ :href => "start_image.html", :title => "Start an Instance of an Image" }
  Start an Instance of an Image
  %img{:src => "/images/button-right.png", :alt => "→"}
