---
title: Aeolus | Configuration Documentation
---
%h1 Configuring Aeolus 0.10.0

%p
  These next pages get you up and running with Aeolus. They take you through initial configuration, connections with Amazon EC2, oVirt and the Mock providers, then performing instance management.

= render 'gsg_navigation', :selected_page => 'configuring_aeolus.html'


%p
  Most configuration for Aeolus is done through its web interface.

%p
  To turn on this web interface, we take a few simple steps:

  %ul
    %li
      %a{ :href => "#aeolus-configure" } Run Aeolus-Configure


%br

.section-grouping
  %h3(id="aeolus-configure") 1. Run Aeolus-Configure

  %p
    The very first step is to run the
    %em aeolus-configure
    command
    %b
    %u with
    super-user privileges (via sudo).
  %p
    %pre
      :preserve
        $ sudo /usr/sbin/aeolus-configure -p ec2,mock

  %p
    This performs an initial configuration of Aeolus with default settings, along with pre-configured provider information for Amazon EC2 and the mock provider. 
  %p
    It is fully automatic, and doesn't require any input. As part of this automatic configuration each Aeolus component is initialized, a PostgreSQL database is created, and the web interface is activated.
  %p
    If you are configuring a RHEVM or oVirt provider as well, the first step again is to the run the aeolus-configure command with super-user privileges (via sudo).
  %p
    %pre
      :preserve
        $ sudo aeolus-configure -p rhevm

  %p
    aeolus-configure adds the provider, ensures the necessary configuration files are updated, and mounts the NFS export. 

  %p
    Both of these processes will take a while (can be several minutes), generating a fair amount of text.

  .note
    %p
      %b NOTE -
      Aeolus-configure accepts other options, which you can investigate using the --help option.

%br

%a.button{ :href => "firewall.html", :title => "Configuring Firewalls" }
  Configuring Firewalls
  %img{:src => "/images/button-right.png", :alt => "→"}   


