---
title: Aeolus | First login
---
%h1 First login

%p
  On this page, you will log into Aeolus, be introduced to the main parts of
  the web based interface.

= render 'gsg_navigation', :selected_page => 'first_login.html'


%ul
  %li
    %a(href="#web_interface" title="Web Based Interface")
      Web Based Interface

  %li
    %a(href="#welcome" title="Welcome Screen")
      Welcome Screen



%br
%h1(id="web_interface" style="margin-top:0") 
.section-grouping
  %h2 1. Web based interface

  %p
    After Aeolus has been initialized, with any firewall updates done, you
    are ready to use the web interface.

  %p
    Open the following address in your web browser (any modern one), using the
    name of your Aeolus server instead of "<b>server_name</b>":

  %p
    %pre
      :preserve
        https://<span style="color:chartreuse">server_name</span>/conductor

  .note
    %p
      %b USEFUL INFO:
      Aeolus is really
      %a{ :href => "https://www.aeolusproject.org/redmine/projects/aeolus/wiki/Aeolus_Components",
         :target => "_blank" }
        several pieces of software that work together.
      "Conductor" is the web based user interface piece.

  %p
    If everything is working properly, the initial login screen will appear:

  %p
    %center
      %a{ :href => "Images/First Login Page images/initial_login_screen.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "Images/Thumbnails/initial_login_screen_thumb.png",
              :title => "Initial login screen - click to view at full size in a new window",
              :alt => "Initial login screen - click to view at full size in a new window", 
              :width => "500",
              :height => "350"}

  %p
    Login now, using the default administrator details set by
    <b>aeolus-configure</b>:

  %p
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %b Username:
    admin
    %br
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    %b Password:
    password

  %p
    We'll change that password in a few moments, after introducing you to
    the major parts of the Aeolus interface.

%br
%h1(id="welcome" style="margin-top:0") 
.section-grouping
  %h2 2. Welcome screen

  %p
    Once you've logged in, the main Aeolus web interface appears:

  %p
    %center
      %a{ :href => "Images/First Login Page Images/welcome_screen.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "Images/Thumbnails/welcome_screen_thumb.png",
              :title => "Welcome screen - click to view at full size in a new window",
              :alt => "Welcome screen - click to view at full size in a new window" }

  %p
    The important parts are:

  %p
    %dl
      %dt
        %b Section tabs
      %dd
        These are the "<b>MONITOR</b>" and "<b>ADMINISTER</b>" tabs in the
        screenshot.
        %ul
          %li
            Clicking the
            %em Monitor
            tab switches to the Monitoring view.  This is where the
            status and progress of your virtual machines is shown.
            %br
            %br
            .note
              %p
                %b NOTE -
                This view is the default when you log in.  Clicking on
                %em Monitor
                when you're already in this view has no effect.
            %br

          %li
            Clicking the
            %em Administer
            tab switches the view to general configuration settings.
    %center
      %a{ :href => "Images/First Login Page Images/welcome_screen_tabs.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "Images/Thumbnails/welcome_screen_tabs_thumb.png",
              :title => "Section tabs - click to view at full size in a new window",
              :alt => "Section tabs - click to view at full size in a new window" }

    %dl
      %dt
        %b View
      %dd
        %p
          This is the middle of the screen, from the "<b>Overview</b>" title bar
          down.
        %p
          It includes everything down to (but not including) the page footer.
        %p
          The title, options, and content in this area change as you perform
          different tasks in Aeolus.
    %center
      %a{ :href => "Images/First Login Page Images/welcome_screen_view.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "Images/Thumbnails/welcome_screen_view_thumb.png",
              :title => "View - click to view at full size in a new window",
              :alt => "View - click to view at full size in a new window" }

    %dl
      %dt
        %b View options
      %dd
        %p
          Some views, such as Monitor Overview, let you choose how data
          is displayed. Conductor presents two views&mdash;
          %strong
            detail view
          and
          %strong
            pretty view.
          Pretty view is represented by the "eyeball" icon and is the default view. It represents a graphical overview of content.
          Detail view is represented by the "table" or "grid" icon, and presents a more detailed view of content. In some cases,
          detail view will present some controls that are not present in pretty view. For now, we will stay in pretty view.
    %center
      %a{ :href => "Images/First Login Page Images/welcome_screen_viewoptions.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "Images/Thumbnails/welcome_screen_viewoptions_thumb.png",
              :title => "View options - click to view at full size in a new window",
              :alt => "View options - click to view at full size in a new window" }

    %dl
      %dt
        %b View commands
      %dd
        View commands represent action buttons based on the objects you are viewing. Depending on the page you are on, these actions
        may include creating a new pool, deleting a user, launching an instance, etc.
    %center
      %a{ :href => "Images/First Login Page Images/welcome_screen_viewcommands.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "Images/Thumbnails/welcome_screen_viewcommands_thumb.png",
              :title => "View commands - click to view at full size in a new window",
              :alt => "View commands - click to view at full size in a new window" }

    %dl
      %dt
        %b User options menu
      %dd
        The user menu contains actions for the currently logged-in user, including the ability to edit your account
        preferences and to log out.
    %center
      %a{ :href => "Images/First Login Page Images/welcome_screen_usermenu.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "Images/Thumbnails/welcome_screen_usermenu_thumb.png",
              :title => "User options menu - click to view at full size in a new window",
              :alt => "User options menu - click to view at full size in a new window" }

%br


%a.button{ :href => "configure_providers.html", :title => "Configure Providers" }
  Configure Providers
  %img{:src => "/images/button-right.png", :alt => "→"}
