---
title: Aeolus | Create a Fedora 16 Template
---
%h1 Create a Fedora 16 Template

%p
This page will detail instructions on the creation, building, pushing and importation of a template. These instructions are designed for a Fedora 16 user, but different versions of this product should not make a dramatic difference.

%ul
  %li
    %a(href="#creating" title="Creating the Template")
      Creating the Template

  %li
    %a(href="#building" title="Building a Template into an Image")
      Building a Template into an Image

  %li
    %a(href="#pushing" title="Pushing a Template into an Image")
      Pushing a Template into an Image

  %li
    %a(href="#importing" title="Importing an Image from a Provider")
      Importing an Image from a Provider

= render 'gsg_navigation', :selected_page => 'make_template.html'

%br



.section-grouping
  %h2 1. Creating the Template

  %p
    Create an XML file with the following content in it; the file name and extension doesn't matter.
    Be sure to change the "rootpw" element.

  %p
    %pre
      :preserve
        &lt;template&gt;
          &lt;name&gt;Fedora 16 Template&lt;/name&gt;
          &lt;os&gt;
            &lt;name&gt;Fedora&lt;/name&gt;
            &lt;version&gt;16&lt;/version&gt;
            &lt;arch&gt;x86_64&lt;/arch&gt;
            &lt;install type='url'&gt;
              &lt;url&gt;http://download.fedoraproject.org/pub/fedora/linux/releases/16/Fedora/x86_64/os/&lt;/url&gt;
            &lt;/install&gt;
            &lt;rootpw&gt;p@ssw0rd&lt;/rootpw&gt;
          &lt;/os&gt;
          &lt;description&gt;A Fedora 16 Image Factory Template&lt;/description&gt;
          &lt;commands&gt;
            &lt;command name="F16 updates"&gt;yum update -y&lt;/command&gt;
          &lt;/commands&gt;
        &lt;/template&gt;

.note
  %p
    %b NOTE - If you wish to build your template with command line, please skip this next step and continue onto the next page.

%br

.section-grouping
  %h2 2. Building a Template into an Image

  %p
    Images can be built by both the graphic user interface and command line. This section dictates the steps for graphic user interface use. The next page will go through the steps of how to build the image from the template via the command line.
  %ol
    %li
      Click on the
      %b Administer tab
      &rArr; <b>Environments</b>.
    %li
      Click on the 'green coloured 'New Image' button.
    %li
      Choose a name for your Image, and upload the template created by using the 'browse' button.

    %li
      Click Save and Continue, and then Save Template.
    %li
      The next screen will have a 'build' button on the centre right hand side, click this.
    %li 
      Your image will be built, and will ask you to 'push' the image. Refer to the next step.

  %p
    %center
      %a{ :href => "Images/Fedora 16 Images/build_image.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "Images/Thumbnails/build_image_thumb.png",
              :title => "Testing Image - click to view at full size in a new window",
              :alt => "Testing Image - click to view at full size in a new window" }


%h1(id="pushing" style="margin-top:0") 


.section-grouping
  %h2 3. Pushing a Template into an Image  

  %p This task pushes the template into an image. This section continues on from the above, these are the steps that are required if for some reason you have quit out of 'building an template into an image' and require re-instruction. 

  .note
    %p
      %b NOTE -If you have continued on from the 'build image' section and you click next, you will be able to immediately see the 'push all' button and these next steps will not be required. Continue onto section detailing how to import an image from a provider.

  %ol 
    %li
    Click on the 
    %b Administer tab
    &rArr; <b>Environments:</b> This displays a list of your clouds.
    %li
    Click on Images next to the 'Pool Families' tab. A list of images will appear.
    %li
    Click the name of the image, for example: 'Template'. The image detail screen displays.
    %li
    Click the 'Push All' button to push a target image to its cloud resource provider.
    %li
    Wait for Aeolus to complete the image push. 

  %p
    %center
      %a{ :href => "Images/Fedora 16 Images/push_image.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "Images/Thumbnails/push_image_thumb.png",
              :title => "Testing Image - click to view at full size in a new window",
              :alt => "Testing Image - click to view at full size in a new window" }

%h1(id="importing" style="margin-top:0") 

.section-grouping
  %h2 4. Importing an Image from a Provider  

  %p This task imports the image from a provider.

  %ol
    %li
    Click on the 
    %b Administer tab
    &rArr; <b>Environments:</b> this displays a list of your clouds.
    %li
    Click on name of cloud you wish to import your image into.
    %li
    Click the Import Image button.
    %li
    Choose a Provider Account from the drop-down selector.
    %li
    Enter the Image ID from your cloud resource provider.
    %li
    Enter a valid Image Name.
    %li
    Click Continue to import the component outline. 

  %p
    %center
      %a{ :href => "Images/Fedora 16 Images/import_image.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "Images/Thumbnails/import_image_thumb.png",
              :title => "Testing Image - click to view at full size in a new window",
              :alt => "Testing Image - click to view at full size in a new window" }

%br

%a.button{ :href => "configure_cli.html", :title => "Configure Command Line Interface tool " }
  Configure Command Line Interface tool 
  %img{:src => "/images/button-right.png", :alt => "→"}
