---
title: Aeolus | Next Steps
---
%h1 Next Steps

%p
  This page includes any useful links or information with regards to Aeolus pre or post set up.

= render 'gsg_navigation', :selected_page => 'next_steps.html'

%br


%h1(id="next" style="margin-top:0")

.section-grouping
  %h2 Next Steps

  %p
    Aeolus has a
    %b much richer
    set of capabilities than what has been shown in this <em>Getting Started
    Guide</em>.

  %p
    To find out more, you can:
         
    %ul
      %li
        The Aeolus Wiki site allows you to keep up to date with documentation, documentation plans, further updates, additional packages and user guides, and all of the Aeolus components information: Deltacloud, Image Facotry, Image Warehouse, Oz, Aeolus Configure, Audrey etc. 
        %br
        The link for the Wiki: <a href="/wiki.html" title="Aeolus Wiki Pages">Aeolus Wiki Pages</a>.

      %br

      %li 
        Experiment using the Aeolus web interface configured earlier.

      %br

      %li
        Add yourself to the
        <a href= "/contact.html#release"
        title="Aeolus announcement mailing list">Aeolus announcement mailing list</a>,
        to receive notification of new Aeolus releases.

      %br

      %li
        Look into the individual Aeolus component projects, starting with the
        <a href="/projects.html" title="Aeolus Project Pages">Aeolus Project Pages</a>.

      %br

      %li
        Join us on the
        <a href="/contact.html#developer"
        title="Aeolus developer mailing lists">Aeolus developer mailing lists</a>,
        to contribute in Aeolus development.

      %br

      -#%li
        Read through the official Red Hat CloudForms documentation on
        <a href="https://docs.redhat.com" title="Red Hat Documentation">http://docs.redhat.com</a>.
