---  
title: Aeolus | Runtime Configuration
---
%h1 Runtime Configuration


= render 'gsg_navigation', :selected_page => 'runtime_config.html'

%p
  This page dictates the steps on adding Audrey to the Image, Runtime Config to the Deployable, and Lauching Instances with Runtime Config.


%ul
  %li
    %a(href="#audrey_server" title="Configuring Audrey Server")
      Configuring Audrey Server
  %li
    %a(href="#adding_audrey" title="Adding Audrey Agent to an Instance")
      Adding Audrey Agent to an Instance

  %li
    %a(href="#adding_config" title="Adding Runtime Configuration to a Deployable")
      Adding Runtime Configuration to a Deployable

  %li
    %a(href="#launching_config" title="Launching Instances with a Runtime Configuration")
      Launching Instances with a Runtime Configuration

%br


%h1(id="audrey_server" style="margin-top:0")
.section-grouping
  %h2 1. Configuring Audrey Server

  %p
    The details to configure your audrey server for runtime configuration can be found at: <b><a href="audrey.html">Audrey</a></b>. 
  %p
    The Aeolus Audrey Agent, when built into an image, will attempt to contact a Config Server at launch time. Once contacted the Config Server will provide configuration parameters and tooling.   
  %p
    For example: The Config Server contact information is passed to the Audrey Agent running in an EC2 instance using Amazon EC2 instance-specific metadata (AKA user data)

%br


%h1(id="adding_audrey" style="margin-top:0")
.section-grouping
  %h2 2. Adding Audrey Agent to an Instance

  %p
    The following instructions add Audrey Agent to the template, which when built and pushed, becomes the image.

  %ol
    %li     
    When uploading the TDL template file, make sure you click the option to 'edit' your file before you build your iamge.
    %li
    Add this line:
    %p
      %pre
        :preserve
          &lt;template&gt;
            ...
            &lt;packages&gt;
              &lt;package name='aeolus-audrey-agent'/&gt;
            &lt;/packages&gt;
            ...
          &lt;/template&gt;


%h1(id="adding_config" style="margin-top:0")
.section-grouping
  %h2 3. Adding Runtime Configuration to a Deployable

  %p
  Now you have a Config Server up and running (or you should do), it's time to build some instasnces that will register with Config Server. This is relatively easy, you want to include the aeolus-audrey-agent package in your image.
  %p
  Open the deployable:
  %ol
    %li
    Click on the 
    %b Administer tab
    &rArr; <b>Content</b>. This displays a list of your catalogues.
    %li
    Choose a catalog with deployables to edit. Click on the Name link.
    %li
    Click on the Name link of the deployable to edit.
    %li
    Click on the Edit XML button. 
    %li
    Edit the desired section of the deployable to add runtime configuration.
    %a{ :href => "https://github.com/aeolusproject/audrey/tree/master/examples",
          :target => "_blank" } All of the Audrey examples are kept here.

    %li
    Save and begin to build this deployable.

    %p
      %center
        %a{ :href => "Images/Runtime Images/edit_XML.png",
            :target => "_blank" }
          %img.thumbnail{ :src => "Images/Thumbnails/edit_XML_thumb.png",
                :title => "Edit XML Image - click to view at full size in a new window",
                :alt => "Edit XML Image - click to view at full size in a new window" }

    %li
    You have now begun to build your deployable with the edited XML.
    %li
    Once you have pushed the image, you should go on to launch it.

  %p
    This is the Aeolus Wiki Deployable XML page. 
    %a{ :href => "https://www.aeolusproject.org/redmine/projects/aeolus/wiki/Deployable_XML",
          :target => "_blank" } This page describes Deployable XML and the structure of a Deployable XML document. 

    
    

%br

%h1(id="launching_config" style="margin-top:0")
.section-grouping
  %h2 4. Launching Instances with a Runtime Configuration

  %p
    Aeolus provides users with runtime configuration options when launching an application.
  %ol
    %li
      After selecting the deployment post launch, Aeolus will display a list of parameter fields and references defined in the deployable.
    %li
      Fill in the desired configuration values in the parameter fields.
    %p
      %center
        %a{ :href => "Images/Runtime Images/config_launch.png",
            :target => "_blank" }
          %img.thumbnail{ :src => "Images/Thumbnails/config_launch_thumb.png",
                :title => "Configure Launch Time - click to view at full size in a new window",
                :alt => "Configure Launch Time - click to view at full size in a new window" }
    
    %li
      Click Finalize. You have now launched an instance with runtime configuration.

   

%br

%a.button{ :href => "users.html", :title => "Users" }
  Users
  %img{:src => "/images/button-right.png", :alt => "→"}
