---
title: Aeolus | Users
---
%h1 Users

%p
This section on users will firstly details how to edit and delete users.

%P
This page is designed to introduce the user functionality to the user, 
and consequently enable the user 
to have a greater understanding of their position in the product.


= render 'gsg_navigation', :selected_page => 'users.html'

%br

%ul
  %li
    %a(href="#show_delete" title="How to Edit and Delete Users")
      How to Edit and Delete Users

%br


%h1(id="show_delete" style="margin-top:0")
.section-grouping
  %h2 1. How to Edit and Delete Users

  %p
    This is how you edit information (in particular, passwords) for your Aeolus account.

  %ol
    %li
    Then click "<b>My Account</b>".  This is a shortcut to your user
    information view in the
    %em Administer
    sections' "<b>Users and Groups</b>" area.

    %p
      %center
        %a{ :href => "Images/Users Images/edit_users.png",
            :target => "_blank" }
          %img.thumbnail{ :src => "Images/Thumbnails/edit_users_thumb.png",
                :title => "UI Structure - click to view at full size in a new window",
                :alt => "UI Structure - click to view at full size in a new window" } 

    %li
      Click the "<b>Edit</b>" button on the user's business card.

      %p
        %center
          %a{ :href => "Images/Users Images/my_account.png",
              :target => "_blank" }
            %img.thumbnail{ :src => "Images/Thumbnails/my_account_thumb.png",
                  :title => "User information view - click to view at full size in a new window",
                  :alt => "User information view - click to view at full size in a new window" }

    %li
      This loads the "<b>Edit User</b>" view:

      %p
        %center
          %a{ :href => "Images/User Images/edit_details_view.png",
              :target => "_blank" }
            %img.thumbnail{ :src => "Images/Thumbnails/edit_details_thumb.png",
                  :title => "Edit user view - click to view at full size in a new window",
                  :alt => "Edit user view - click to view at full size in a new window" }

    %li
      Change the password now, using the "<b>Change password</b>" and
      "<b>Confirm password</b>" fields.
      %br
      If you want, also change the First name, Last name, and E-mail fields.

    %li
    Click the "<b>Save User</b>" button when you're done.  A message
    confirming the change should appear:

    %p
      %center
        %a{ :href => "Images/User Images/updated_details.png",
            :target => "_blank" }
          %img.thumbnail{ :src => "Images/Thumbnails/updated_details_thumb.png",
                :title => "Message indicating user update was successful - click to view at full size in a new window",
                :alt => "Message indicating user update was successful - click to view at full size in a new window" }

  %p
    This is how you delete users.
  %ol
    %li
      Click on the Administer tab.
    %li
      Click on Users.
    %li
      Click each checkbox to the left of each user you want to delete.
    %li
      Click the Delete Selected command button.

  %p
    %center
      %a{ :href => "Images/User Images/delete_users.png",
          :target => "_blank" }
        %img.thumbnail{ :src => "Images/Thumbnails/delete_users_thumb.png",
              :title => "Message indicating user update was successful - click to view at full size in a new window",
              :alt => "Message indicating user update was successful - click to view at full size in a new window" }


%br

%a.button{ :href => "permissions.html", :title => "Permissions" }
  Permissions
  %img{:src => "/images/button-right.png", :alt => "→"}
