.page-listing
  %h3 Getting Started Guide

  - pages = [ {:href => "basic_glossary.html", :title => "Basic Glossary" },
    {:href => "configuring_aeolus.html", :title => "Configuring Aeolus" },
    {:href => "firewall.html", :title => "Firewall Configuration" },
    { :href => "first_login.html", :title => "First login" },
    { :href => "configure_providers.html", :title => "Configure Providers" },
    { :href => "make_template.html", :title => "Create a Fedora 16 Template" },
    { :href => "configure_cli.html", :title => "Configure Command Line Interface tool" },
    { :href => "command_syntax.html", :title => "Command Line Syntax" },
    { :href => "start_image.html", :title => "Start an Instance of the Image" },
    { :href => "runtime_config.html", :title => "Runtime Configuration" },
    { :href => "users.html", :title => "Users" },
    { :href => "permissions.html", :title => "Permissions" },
    { :href => "stop_image.html", :title => "Stop a running Instance" },
    { :href => "logging_reporting.html", :title => "Logging and Reporting" },
    { :href => "cleaning_up.html", :title => "Cleaning up" }, 
    { :href => "next_steps.html", :title => "Next Steps" } ]

  %ol
    - pages.each do |page|
      - if page[:href] == @selected_page
        %li= page[:title]
      - else
        %li
          %a{:href => page[:href],
             :title => page[:title] }
            = page[:title]

